*.swp
__pycache__
lex.yy.c
out
lex/test.s
lex/parser
lex/parser.cpp
lex/parser.output
lex/parser.hpp
lex/scanner.cpp
lex/out.png
lex/sym_tab_out.txt
lex/temp_text.txt
lex/sym_test
lex/sym_tab_out.txt
lex/syntax_graph.gav
lex/syntax_graph.gv
